* {
    margin: 0px;
}

body {
    background-color: #4b4847;
}

:root {
    --square-size: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, auto);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

.square {
    background-color: #769656;

    width: var(--square-size);
    height: var(--square-size);

    margin: 0px;

    /* animation-name: flip;
    animation-duration: 2s; */

    display: grid;
    place-items: center;
}

.square.white {
    background-color: #eeeed2;
}

.square.white:hover {
    background-color: #d4d4be;
}

.square.white.selected {
    background-color: #b8fda7;
}

.square.black {
    background-color: #769656;
}

.square.black:hover {
    background-color: #6d8a50;
}

.square.black.selected {
    background-color: #97ce61;
}

.piece {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: var(--square-size);
    width: var(--square-size);
}

.possible {
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}